/*MY CODE */


#login{
font-family:'Righteous', cursive;
border: 1px solid white;
background:white;
display: block;
text-align: center;
border: 1px solid #FFFFFF;
outline: none;
color: white;
border-radius: 24px;
    }

.menu
{
position:absolute;
left:150%;
border-radius: 5px;
font-family:'Righteous', cursive; 
text-align:center;  
    
    
}

h1
{
right:auto;
left: :auto;
align-items: center;
align-content: center;
text-align: center;
font-family:'Righteous', cursive;
}
.heading
{
    align-self: center;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="email"],.regist input[type="text"]
{
    font-family:'Righteous', cursive;
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:200px;
    outline:black;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}


.box input[type="text"]:focus,.box input[type="email"]:focus
{
width: 280px;
height:40px;
}



.box input[type="text"],.box input[type="password"]
{
    font-family:'Righteous', cursive;
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:200px;
    outline: black;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    
}

.box input[type="text"]:focus,.box input[type="password"]:focus
{
width: 280px;
height: 40px;
}

.box input[type="submit"]{
     border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:100px;
    height: 30px;
    outline: black;
    color: black;
    border-radius: 24px;
    cursor: pointer;
    
}


#register
{
font-family:'Righteous', cursive;
background-color: snow;
border: 1px solid white;
display: block;
text-align: center;
border: 1px solid #FFFFFF;
width:auto;
outline: none;
color: white;
border-radius: 24px;
}
.regist input[type="first_name"],.regist input[type="text"]
{
    font-family:'Righteous', cursive;
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:200px;
    outline: none;
    color: white;
    border-radius: 24px;
    
}.regist input[type="last_name"],.regist input[type="text"]
{
    font-family:'Righteous', cursive;
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:200px;
    outline: none;
    color: white;
    border-radius: 24px;
}
    
.regist input[type="email"],.regist input[type="text"]
{
    font-family:'Righteous', cursive;
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:200px;
    outline: none;
    color: white;
    border-radius: 24px;
    
}
    
}.regist input[type="stream"],.regist input[type="name"]
{
    font-family:'Righteous', cursive;
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:200px;
    outline: none;
    color: white;
    border-radius: 24px;
    
}
.regist input[type="roll_no"],.regist input[type="integer"]
{
    font-family:'Righteous', cursive;
    border:0;
    display: block;
    background:none;
    margin:auto;
    text-align: center;
    border: 1px solid #000000;  
    width:200px;
    outline: none;
    color: white;
    width: 200px;
    border-radius: 24px;
}

.regist input[type="submit"]{
 border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:100px;
    height: 30px;
    outline: black;
    color: black;
    border-radius: 24px;
    cursor: pointer;
}

.after_login
{
font-family: 'Righteous', cursive;
background-color:snow;
border: 1px solid white;
display: block;
text-align: center;
width:400px;
outline: none;
color: white;
border-radius: 24px;
}

.fine input[type="name"],.fine input[type="name"]
{
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:200px;
    outline: black;
    color:black;
    border-radius: 24px;
    }

.fine input[type="submit"] {

    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:100px;
    height:30px;
    outline: black;
    color:black;
    border-radius: 24px;
    cursor:pointer;
}


.book_avail input[type="name"],.fine input[type="name"]
{
    font-family:'Righteous', cursive;
    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:230px;
    height: 30px;
    outline: none;
    color: black;
    border-radius: 24px;
    }
.forgot_pass input[type="name"],.fine input[type="name"]
{
    font-family:'Righteous', cursive;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #FFFFFF;  
    width:250px;
    height: 30px;
    outline: none;
    color: white;
    border-radius: 24px;
    }
 
.forgot_pass input[type="submit"] {

    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:100px;
    height:30px;
    outline: black;
    color:black;
    border-radius: 24px;
    cursor:pointer;
}

.book_avail input[type="submit"] {

    border: 0;
    background:none;
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;  
    padding: auto;
    width:100px;
    height:30px;
    outline: black;
    color:black;
    border-radius: 24px;
    cursor:pointer;
}

#border
{
background-color:snow;
border: 1px solid white; 
display: block;
    width: 400px;
text-align: center;
border: 1px solid #FFFFFF;  
color: white;
border-radius: 24px;
}

body
{
position: absolute;
left: 35%;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Righteous', cursive;
background-image:url(../images/library_background.png);
background-size:auto;
}

#team,img,p,h1
{
border-radius: 50%;
color: black;
   
}
